<nav class="navbar">
  <div class="navbar-container">
    <a class="navbar-brand" routerLink="home">
      <img src="assets/profile.png" alt="Image" class="profile-pic">
      Bhuvneshwar M. Sharma<br>
      <span class="brand-role">Welcome's you!</span>
    </a>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="careerprofile">Career Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="education">Education</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" (click)="getLoginValidated()" routerLink="gallery">Gallery</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="contact">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="feedback">Feedback</a>
      </li>
    </ul>
    <div>
      <input class="navbar-Search" type="text" placeholder="Search...">
      <button (click)="search()" class="btn btn-search">Search</button>
      <button *ngIf="!authService.loginInfo.isloggedin" routerLink="login" class="btn btn-secondary">Login</button>
      <button *ngIf="!authService.loginInfo.isloggedin" routerLink="signup" class="btn btn-primary">Sign Up</button>
    </div>
    <!-- Profile Icon + Dropdown Menu -->
    <div *ngIf="authService.loginInfo.isloggedin" class="dropdown">
      <img src="assets/profile-icon.png" alt="Profile" class="profile-icon" id="profileIcon" />
      <div class="dropdown-content" id="dropdownMenu">
        <label class="welcome-label">Welcome, {{ authService.loginInfo.username }}!</label>
        <a routerLink="userprofile">View Profile</a>
        <!-- <a href="/settings">Settings</a> -->
        <a href="" (click)="logout()">Logout</a>
      </div>
    </div>

    <!-- <div *ngIf="authService.loginInfo.isloggedin" class="welcome-label">
      Welcome, {{ authService.loginInfo.username }}!
      <button (click)="logout()" class="btn btn-danger">Logout</button>
    </div> -->
  </div>
</nav>