.profile-container {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
  margin: auto;
  margin-top: 50px;
  background-color: #f9f9f9;
}
.btn {
  margin-top: 15px;
  padding: 10px 15px;
  /* padding-left  : 10px; */
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.button-group {
  display: flex;
  justify-content: space-between;
}
.btn-primary:hover {
  background-color: #0056b3;
}   
.user-info {
  margin: 20px;
  font-size: 18px;
}
.welcome-label {
  font-size: 5mm;
  /* overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  vertical-align: middle; */
  font-weight: 500;
  margin-left: 20px;
  color:blueviolet;
  font-family: cursive;
} 
.btn-danger {
  padding: 8px 16px;
  font-size: 14px;
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.btn-danger:hover {
  background-color: #e60000;
}