<div class="container">
        <h1>Contact Information</h1>
        <ul class="contact-list">
            <li>
                <span class="contact-label">Email:</span>
                <a class="contact-link" href="mailto:Bhuvneshwar.sh@gmail.com"> Bhuvneshwar.sh@gmail.com</a>
            </li>
            <!-- <li>
                <span class="contact-label">Phone:</span>
                <a class="contact-link" href="tel:+91-9907497729"> +91 99074 97729</a>
            </li> -->
            <li>
                <span class="contact-label">LinkedIn:</span>
                <a class="contact-link" href="https://www.linkedin.com/in/bhuvneshwar-sh/" target="_blank" rel="noopener"> Linkedin.com/in/bhuvneshwar-sh/</a>
            </li>
            <li>
                <span class="contact-label">GitHub:</span>
                <a class="contact-link" href="https://github.com/bhuvneshwarsh" target="_blank" rel="noopener"> GitHub.com/bhuvneshwarsh</a>
            </li>
            <li>
                <span class="contact-label"></span>
                Current location: Delhi NCR, From: Gwalior, MP, India.
            </li>
        </ul>
        <div class="form-section">
            <h2>Send a Message</h2>
            <form method="post" (ngSubmit)="onSubmit()" #contactForm="ngForm" novalidate>
                <label for="name">Name:</label>
                <input id="name" name="name" type="text" required placeholder="Your Name" [(ngModel)]="contact.name" #name="ngModel">
                <div for="name" class="error" *ngIf="!isNameValid && name.touched">
                    Name is required.
                </div>
                <label for="email">Email:</label>
                <input id="email" name="email" type="email" required placeholder="Your Email" [(ngModel)]="contact.email" #email="ngModel">
                <div for="email" class="error" *ngIf="!isEmailValid && email.touched">
                    Valid email is required.
                </div>
                <label for="usermessage1">Message:</label>
                <textarea id="usermessage1" name="usermessage1" rows="5" required placeholder="Type your message..." [(ngModel)]="contact.usermessage1" #usermessage1="ngModel"></textarea>
                <div for="usermessage1" class="error" *ngIf="!isMessageValid && usermessage1.touched">
                    Message must be at least 50 characters long.
                </div>
                <button type="submit" [disabled]="!isNameValid || !isEmailValid || !isMessageValid">Send</button>
                <div *ngIf="submitted">
                    <p class="success-message">Your message has been sent successfully!</p>
                </div>
            </form>
        </div>
    </div>
    <br><br>
