<div class="auth-card">
    <form (ngSubmit)="onUpdatePassword()" method="post" autocomplete="off" #updatePasswordForm="ngForm">
      <h2>Update New Password</h2>
      <input type="password" placeholder="Password" required [(ngModel)]="updatePassword.password" name="password" #password="ngModel" />
    <div *ngIf="password.invalid && password.touched" class="error">Password is required.</div>
    <div *ngIf="!passwordValidation && password.touched" class="error">Password must be at least 6 characters long, contain an uppercase letter, a number, a special character, and be less than 20 characters.</div>

    <input type="password" placeholder="Confirm Password" required [(ngModel)]="updatePassword.confirm" name="confirm" #confirm="ngModel" />
    <div *ngIf="confirm.invalid && confirm.touched" class="error">Please confirm your password.</div>
    <div *ngIf="passwordMismatch" class="error">Passwords do not match.</div>
        <button type="submit" [disabled]="updatePasswordForm.invalid || passwordMismatch">Update Password</button>
    </form>
</div>
  