<div class="auth-card">
    <form (ngSubmit)="onOtpValidation()" method="post" autocomplete="off" #otpValidationForm="ngForm">
      <h2>OTP Validation</h2>
      <input type="text" placeholder="Enter OTP sent to your email" required [(ngModel)]="otpValidation.otp" name="otp" #otp="ngModel" />
      <div *ngIf="!validOtp && otp.touched" class="error">Please enter a valid OTP.</div>
        <button type="submit" [disabled]="otpValidationForm.invalid || !validOtp">Validate OTP</button>
        <div class="error" *ngIf="otpValidationError">{{ otpValidationError }}</div>
    </form>
</div>
  