<div class="auth-card">
  <form (ngSubmit)="onSignup()" autocomplete="off" #signupForm="ngForm"> 
    <h2>Sign Up</h2>
    <input type="text" placeholder="Full Name" required [(ngModel)]="signup.name" name="name" #name="ngModel" />
    <div *ngIf="name.invalid && name.touched" class="error">Name is required.</div>
    
    <input type="email" placeholder="Email" required [(ngModel)]="signup.email" name="email" #email="ngModel" />
    <div *ngIf="email.invalid && email.touched" class="error">Valid Email is required.</div>
    
    <input type="password" placeholder="Password" required [(ngModel)]="signup.password" name="password" #password="ngModel" />
    <div *ngIf="password.invalid && password.touched" class="error">Password is required.</div>
    
    <input type="password" placeholder="Confirm Password" required [(ngModel)]="signup.confirm" name="confirm" #confirm="ngModel" />
    <div *ngIf="confirm.invalid && confirm.touched" class="error">Please confirm your password.</div>
    <div *ngIf="passwordMismatch" class="error">Passwords do not match.</div>
    
    <button type="submit" [disabled]="signupForm.invalid || passwordMismatch">Sign Up</button>
    <div class="error" *ngIf="signupError">{{ signupError }}</div>
  </form>
</div>
