<div class="auth-card">
    <form (ngSubmit)="onForgotPassword()" method="post" autocomplete="off" #forgotPasswordForm="ngForm">
      <h2>Forgot Password</h2>
      <input type="email" placeholder="Email: email@example.com" required [(ngModel)]="forgotPassword.email" name="email" #email="ngModel" />
      <div *ngIf="!validEmail && email.touched" class="error">Please enter a valid registered email address.</div>
        <button type="submit" [disabled]="forgotPasswordForm.invalid || !validEmail">Reset Password</button>
        <div class="error" *ngIf="forgotPasswordError">{{ forgotPasswordError }}</div>
    </form>

</div>
  